.container {
  @apply flex flex-col w-full items-center p-4 text-white;
}

.container > h1 {
  @apply text-3xl font-bold text-center lg:text-5xl;
  text-shadow: 1px 1px 2px #e7e2e1, 0 0 1em;
}
.information {
  flex-grow: 1;
  @apply flex flex-col items-center justify-around text-center my-4;
}
.information h3 {
  @apply lg:text-2xl text-xl font-bold;
}
.information p {
  @apply border-solid border-2 border-white p-3 rounded-md;
}
.information > img {
  filter: drop-shadow(0 0 0.75rem white);
}

.btnGrad {
  background: #ffffff;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  font-weight: bolder;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btnGrad:hover {
  background: hsl(251, 55%, 94%); /* change the direction of the change here */
  color: black;
  text-decoration: none;
}
.importanInformation {
  @apply inline-block;
}
